html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: pink;
}

header {
  width: 100%;
  line-height: 1.2rem;
  font-size: 0.53333rem;
  color: #d58ca1;
  text-align: center;
}

section {
  flex: 1;
  background-color: green;
  overflow: scroll;
}

section .top {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  overflow: hidden;
}

section .top .mark {
  overflow: hidden;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
}

section .top .mark ul {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  height: 1.2rem;
  align-content: space-between;
  align-items: center;
}

section .top .mark ul li {
  font-size: 0.45333rem;
  padding: 0 0.26667rem;
  flex-shrink: 0;
  line-height: 1.2rem;
}

section .title {
  width: 100%;
  height: 1.46667rem;
  font-size: 0.45333rem;
  line-height: 1.46667rem;
}

section .title .pa {
  float: left;
  margin-left: 0.26667rem;
}

section .title .ps {
  float: right;
  margin-right: 0.26667rem;
}

.active {
  border-bottom: 0.05333rem solid #c2c2c2;
  color: pink;
}

.slides {
  font-size: 0.4rem;
}

.slides ul {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  height: 100%;
  align-items: center;
}

.slides ul li {
  flex: 1;
  padding-bottom: 0.4rem;
}

.slides ul li img {
  display: block;
  margin: 0 auto;
  width: 2.4rem;
}

.swiper-pagination-bullet {
  width: 0.26667rem;
  height: 0.26667rem;
}

.one {
  width: 100%;
  height: 3.2rem;
}

.b span {
  width: 0.26667rem;
  height: 0.26667rem;
}

.uls {
  padding-top: 0.53333rem;
}

.uls li {
  float: left;
  padding: 0.4rem;
}

.uls li img {
  display: block;
  margin: 0 auto;
  width: 4rem;
}

.listsection {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.listsection .section {
  width: 100%;
  height: auto;
  padding: 0.26667rem;
  box-sizing: border-box;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  text-align: center;
  flex-wrap: wrap;
}

.listsection .section dl {
  width: 50%;
}

.listsection .section dl dd {
  height: 0.88rem;
  align-items: center;
  justify-content: center;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
}

.listsection .section dl dd b {
  color: #d58ca1;
  font-size: 0.37333rem;
}

.listsection .section dl dd span {
  text-decoration: line-through;
}
